<template>
  <form v-on:submit.prevent>
    <label>Numbers</label>

    <span class="errorSpan" data-test="formError" v-if="error.length > 0">{{error}}</span>
    
    <app-input 
      @numberValueChanged="updateNumbers" 
      :value="operation.numberOne" 
      :label="'Number one'" 
      :datatest="'numberOne'"
      :placehold="'Enter number one'" ></app-input>

    <app-input 
      @numberValueChanged="updateNumbers" 
      :value="operation.numberTwo" 
      :label="'Number two'" 
      :datatest="'numberTwo'"
      :placehold="'Enter number two'" >
    </app-input>

    <div class="app-text-input2">
      <label>Operation</label>
      <select class="app-text-input-feild2" data-test="operation" v-model="operation.operation" >
          <option value="+">Add</option>
          <option value="-">Subtract</option>
          <option value="*">Multiply</option>
          <option value="/">Divide</option>
      </select>
    </div>

    <button class="submit-button" v-on:click="postOperation" data-test="postOperationBtn" >Post</button>
  </form>
</template>

<script>
//the role of the form component is just to
//to get this data and send it to the 
//business logic in the app
//also it will render any errors 
//ie. validation and response errors
import Input from './Input.vue'

export default {
  components: {
    'app-input' : Input
  },
  props:["error"],
  data(){
    return {
      operation:{
        numberOne:"",
        numberTwo:"",
        operation:"+"
      }
    }
  },
  methods:{
    postOperation(){  
      //raise the business logic that the
      //user wants to post data
      this.$emit('sendOperationEntry',this.operation) 
    },
    updateNumbers(input){
      //input can be { from: "numberTwo", a: 45}
      this.operation[input.from] = input.val;
    }
  }
}
</script>

<style scoped>
  .errorSpan{
    color:red;
    font-weight: bold;
  }

  form{
    display: block;
    color:white;
    padding: 20px;
    text-align: center;
  }

  form label {
    width:100%;
    text-align: left;
    display:  block;
    font-size: 24px;
    font-weight: bold;
  }

  form .submit-button{
    color:#3a3938;
    border: 1px solid #fdbf00;
    width: 100%;
    border-radius: 35px;
    background-color:  #be9a17;;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    float:left;
    margin-top: 15px;
  }
</style>