<template>
  <div class="app-text-input">
    <label>{{label}}</label>
    <input type="text"  class="app-text-input-feild" 
      value="" 
      @input="valueChanged" 
      v-bind:data-test="datatest"
      v-bind:placeholder="placehold"
    />
    <div class="clear-fix"></div>
  </div>
</template>

<script>
export default {
  components: {
    
  },
  props:["label","datatest","placehold"],
  methods:{
    valueChanged(event){
      //the from property is indicating which input 
      //produced this value
      var val = {
        from: this.datatest,
        val: event.target.value
      }
      this.$emit('numberValueChanged',val)
    }
  }
}
</script>

<style>
  
</style>


