<template>
    <div class="results-col">
        <label>Results</label>
        <table>
            <thead>
                <tr>
                    <th class="fth">Number 1</th>
                    <th>Number 2</th>
                    <th>Response</th>
                    <th>Expected</th>
                    <th>Passed</th>
                    <th class="fth">Remove</th>
                </tr>
            </thead>
            <tbody data-test="resultsTableBody">
                <tr v-for="(operationInstance, index)  in operationsHistory" :key="index" 
                    v-bind:class="{ passed: operationInstance.ok, failed: !operationInstance.ok }">
                    <td>{{operationInstance.numberOne}}</td>
                    <td>{{operationInstance.numberTwo}}</td>
                    <td>{{operationInstance.response}}</td>
                    <td>{{operationInstance.expected}}</td>
                    <td>{{operationInstance.passed}}</td> 
                    <td>
                        <i class="remove-icon" v-on:click="removeOperationHistory(index)">x</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
  components: {
    
  },
  props:["operationsHistory"],
  data(){
    return {
      
    }
  },
  methods:{
    removeOperationHistory(index){
        //console.log("Wassssss supossed to heat this");
        //raise this event to the app logic
        this.$emit('sendOperationRemoved',index) 

    }
  }
}
</script>

<style>

</style>