<template>
  <div id="app" class="page-container">
    <div class="col-lg-3 form-col">
      <app-form  :error="error" @sendOperationEntry="postOperation"></app-form>
    </div>
    <div class="col-lg-9">
      <results-table :operationsHistory="operationsHistory" @sendOperationRemoved="deleteOperation" ></results-table>
    </div>
    <div class="clear-fix"></div>
    <!-- This is used to trigger some unit tests -->
    <div class="test-invoker" data-invoke="operationToExpression" data-arg="" v-on:click.self="test"></div>
    <div class="test-invoker" data-invoke="genrateRandom" data-arg="" v-on:click.self="test"></div>
    <div class="test-invoker" data-invoke="genrateAnotherRandom" data-arg="" v-on:click.self="test"></div>
    <div class="test-invoker" data-invoke="priorProcess" data-arg="" v-on:click.self="test"></div>
    <div class="test-invoker" data-invoke="selfCompute" data-arg="" v-on:click.self="test"></div>
    <div class="test-invoker" data-invoke="roundTo" data-arg="" v-on:click.self="test"></div>
  </div>
</template>

<script>

import Form from './components/Form.vue'
import ResultsTable from './components/ResultsTable.vue'


export default {
  name: 'app',
  components: {
    'app-form': Form,
    'results-table': ResultsTable
  },
  data(){
    return {
      error:"",
      operationsHistory:[]
    }
  },
  methods:{
    postOperation(operation){
      this.error = "";
      //validate the object to be sent to server
      var vldt = this.getValidaterFor(operation)
        .isRequired("numberOne","Number One is required")
        .isNumber("numberOne","Number One is not a valid number")
        .isRequired("numberTwo","Number Two is required")
        .isNumber("numberTwo","Number Two is not a valid number");
      if(vldt.isValid() == false){
        this.error = vldt.error;
        return false;
      }

      //if operation is a valid entry
      //do a self evaluation
      var selfVal = this.selfCompute(operation)
      //post it to the api
      var exp = this.operationToExpression(operation);
      var data = {
        expr: exp,
        precision: 3
      };
      this.$http.post("https://api.mathjs.org/v4/",data)
      .then(function(data){
        //implement adding of this data to the table
        //console.log("we are adding",data.body);
        var apiResponseValue = data.body.result;

        //prior processing
        var priorProcesValue = this.priorProcess(apiResponseValue)
        //marking as passed
        var passed = false;
        if(parseFloat(priorProcesValue) == parseFloat(selfVal)){
          passed = true
        }
        

        var newRecord = {
          numberOne: operation.numberOne,
          numberTwo: operation.numberTwo,
          response: priorProcesValue,
          expected: selfVal,
          passed: (passed)?"Yes":"No",
          ok: passed //for easy rendering
        };
        this.operationsHistory.push(newRecord);
      }).catch(function(resp){
          //tell the form object that we have an error
          this.error =  resp.body.error;
      });
    },
    deleteOperation(index){
      //console.log("told to delete data")
      this.operationsHistory.splice(index,1)
    },
    operationToExpression(operation){
      if(typeof operation != 'object' || operation == null){
        return "";
      }
      var a = "";
      if(operation.hasOwnProperty("numberOne")){
        a = operation["numberOne"];
      }
      var b = "";
      if(operation.hasOwnProperty("numberTwo")){
        b = operation["numberTwo"];
      }
      var o = "";
      if(operation.hasOwnProperty("operation")){
        o = operation["operation"];
      }
      var ret = a + " " + o + " " + b;
      ret = ret.trim();
      return ret;
    },
    getValidaterFor(subject){
      var validater = {
        item:subject,
        error:"",
        isRequired:function(prop,msg){
          if(this.error.length > 0){
            return this;
          }
          if(typeof this.item == 'undefined' || 
            this.item == null ||
            typeof this.item != 'object'){
              this._setError(msg);
              return this;
          }
          if(this.item.hasOwnProperty(prop)){
            if(typeof this.item[prop] == 'undefined'){
              this._setError(msg);
            }else if(this.item[prop] == null){
              this._setError(msg);
            }else if(typeof this.item[prop] == 'string'){
              this.item[prop] = this.item[prop].trim()
              if(this.item[prop].length == 0){
                this._setError(msg);
              }
            }
          }else{
            this._setError(msg);
          }
          return this;
        },
        isNumber:function(prop,msg){
          if(this.error.length > 0){
            return this;
          }
          //console.log("The swipxe", prop, msg, this.error);
          var temp = this.error;
          this.error = "";
          this.isRequired(prop,msg);
          if(this.error.length == 0){
            var n = this.item[prop];
            //we passed first test
            //determin if we have a number here
            //adopted from
            //https://stackoverflow.com/questions/
            //9716468/pure-javascript-a-function-like-jquerys-isnumeric
            if((!isNaN(parseFloat(n)) && isFinite(n)) == false){
              if(temp.length == 0){
                this._setError(msg);
              }else{
                this.error = temp;
              }
            }
          }else{
            //console.log("The swipe", temp);
            this.error = temp;//reset original message
          }
          return this;
        },
        _setError: function(msg){
          this.error = (this.error.length==0)? msg : this.error;
        },
        isValid:function(){
          return this.error.length == 0
        }
      };
      
      return validater;
    },
    genrateRandom(){
      return Math.floor(Math.random()*5);
    },
    genrateAnotherRandom(){
      return Math.ceil(Math.random()*4000);
    },
    priorProcess(apiResult){
      //generate random number
      var random = this.genrateRandom()
      var random = parseInt(random);
      //If the result from a) is EQUAL to 1, override the response from the API 
      if(random == 1){
        //override response
        var newRandom = this.genrateAnotherRandom()
        apiResult = newRandom
      }
      return apiResult
    },
    selfCompute(operation){
      var exp = this.operationToExpression(operation);
      var res = eval(exp).toPrecision(3).replace(/\.?0+$/,"")
      return res;
    },
    roundTo: function(n, digits) {
      var original = n;
      //https://stackoverflow.com/questions/15762768/javascript-math-round-to-two-decimal-places/22977058
      //i have modified this function to fit this purpose
      var negative = false;
      if (digits === undefined) {
          digits = 0;
      }
      if( n < 0) {
        negative = true;
        n = n * -1;
      }
      var multiplicator = Math.pow(10, digits);
      n = parseFloat((n * multiplicator).toFixed(digits));
      n = (Math.round(n) / multiplicator).toFixed(digits);

      if( negative ) {    
          n = (n * -1).toFixed(digits);
      }
      //i also included this part for exponential
      if(n == 0 && original != 0){
        //apply export notation
        digits = digits - 1;
        if(digits < 0){
          digits = digits;
        }
        //console.log("Trying to x", original)
        n = original.toExponential(digits);
      }
      return n;
    },
    test(event){
      //console.log("innnnn",event.target);
      var invokes = event.target.getAttribute("data-invoke");
      var argsInput = event.target.getAttribute("data-arg");
      var executed = false;
      if(invokes == "operationToExpression"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        if(typeof argsInput == 'undefined'){
          res = this.operationToExpression(undefined);
        }else{
          argsInput = JSON.parse(argsInput);
          res = this.operationToExpression(argsInput);
        }
        if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }else if(invokes == "genrateRandom"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        res = this.genrateRandom()
        if(typeof res == 'undefined'){
          res = '';
        }else if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }else if(invokes == "genrateAnotherRandom"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        res = this.genrateAnotherRandom()
        if(typeof res == 'undefined'){
          res = '';
        }else if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }else if(invokes == "priorProcess"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        if(typeof argsInput == 'undefined'){
          res = this.priorProcess(undefined);
        }else{
          argsInput = JSON.parse(argsInput);
          res = this.priorProcess(argsInput);
        }
        if(typeof res == 'undefined'){
          res = '';
        }else if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }else if(invokes == "selfCompute"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        if(typeof argsInput == 'undefined'){
          res = this.selfCompute(undefined);
        }else{
          argsInput = JSON.parse(argsInput);
          res = this.selfCompute(argsInput);
        }
        if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }else if(invokes == "roundTo"){
        console.log("invokes", invokes, argsInput);
        var res = undefined
        if(typeof argsInput == 'undefined'){
          res = this.selfCompute(undefined);
        }else{
          argsInput = JSON.parse(argsInput);
          res = this.roundTo(argsInput.n,argsInput.digits);
        }
        if(typeof res == 'object'){
          res = JSON.stringify(res);
        }
        event.target.innerText = res;
        executed = true;
      }
      if(executed == false){
        throw new Error("Function is missing test implementation")
      }
    }
  }
}
</script>

<style>
  html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Helvetica !important;
    overflow: hidden;
  }

  .test-invoker{
    display:none;
  }

  .page-container{
    height: 100%;
    background-color: #fef9e4;
  }

  .col-lg-3{
    height: 100%;
    width: 25%;
    float:left;
  }

  .col-lg-9{
    height: 100%;
    width: 75%;
    float:left;
  }

  .clear-fix{
    clear:both;
  }

  .form-col{
    background-color: #28353e;
  }

  .app-text-input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .app-text-input label{
    width:100%;
    text-align: left;
    display:  block;
    font-size: 14px !important;
    font-weight: normal !important;
    padding-left: 6%;
    /* font-weight: bolder !important; */
  }

  .app-text-input-feild{
    color:#fdbf00;
    border: 1px solid #fdbf00;
    width: 94%;
    border-radius: 35px;
    background-color: #28353e;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6%;
    float:left;
  }

  .app-text-input2{
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .app-text-input2 label{
    width:100%;
    text-align: left;
    display:  block;
    font-size: 14px !important;
    font-weight: normal !important;
    padding-left: 6%;
  }

  .app-text-input-feild2{
    color:#fdbf00;
    border: 1px solid #fdbf00;
    width: 100%;
    border-radius: 35px;
    background-color: #28353e;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    float:left;
  }

  .results-col{
    width: 96%;
    height: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    /* background-color: blue; */
  }

  .results-col label {
    width:100%;
    text-align: left;
    display:  block;
    font-size: 24px;
    font-weight: bold;
  }

  table{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-spacing: 0px;
    border: 2px solid;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
  }

  .tfh{
    border-top-left-radius: 5px;
  }

  .lfh{
    border-top-right-radius: 5px;
  }

  table thead tr th{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    background-color: #28353e;
    color:#fdbf00;
  }

  table tbody{
    background-color: #fef9e4;
  }

  table tbody tr td{
    border-bottom: 1px solid  #28353e;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
  }

  .remove-icon{
    cursor: pointer;
    padding-left: 4px;
    padding-right: 5px;
    color:red;
    font-weight: bold;
  }

  .passed{
    background-color: #ffe28a;
  }

  .failed{
    background-color: #ffaea0;
  }
  
  input[type=text]:focus {outline:none;}
  button:focus {outline:none;}
  select:focus {outline:none;}
</style>
